NetBeansProjects-Web Service/ConsumidorMultas/xml-resources/web-service-references/ConsultasService/wsdl/169.254.2.35_7001/ConsultasMultas/ConsultasService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://ws.ejercito.mil.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.ejercito.mil.co/"><xsd:complexType name="consultarCiudadanoMultas"><xsd:sequence><xsd:element name="id" type="xsd:decimal" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="consultarCiudadanoMultasResponse"><xsd:sequence><xsd:element name="ciudadano" type="ns0:multasWs" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:complexType name="multasWs"><xsd:sequence><xsd:element name="descripcion" type="xsd:string" minOccurs="0"/><xsd:element name="id" type="xsd:decimal" minOccurs="0"/><xsd:element name="id_ciudadano" type="xsd:int"/><xsd:element name="valor" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="consultarCiudadanoMultas" type="ns0:consultarCiudadanoMultas"/><xsd:element name="consultarCiudadanoMultasResponse" type="ns0:consultarCiudadanoMultasResponse"/></xsd:schema>