NetBeansProjects-Web Service/Tema12ContainerContenedor/xml-resources/web-service-references/SecurityService/wsdl/192.168.252.72_7001/Tema12Container/SecurityService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://ws.ejercito.mil.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.ejercito.mil.co/"><xsd:complexType name="hello"><xsd:sequence><xsd:element name="name" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="helloResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="hello" type="ns0:hello"/><xsd:element name="helloResponse" type="ns0:helloResponse"/></xsd:schema>